html {
  min-height: 100vh;
  background-color: rgb(67, 249, 255);
}
body {
  margin: 0;
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 8%;
}
.box1 {
  padding: 1rem;
  color: white;
  display: block;
  background-image: linear-gradient(
    to right,
    rgb(255, 35, 35),
    rgb(253, 45, 225)
  );
  margin-bottom: 3%;
  font-family: titillium, monospace, "Times New Roman";
}
.box2 {
  padding: 1rem;
  color: white;
  display: block;
  background-image: linear-gradient(
    to right,
    rgb(28, 88, 255),
    rgb(130, 21, 255)
  );
  margin-bottom: 3%;
  font-family: titillium, monospace, "Times New Roman";
}
.box3 {
  padding: 1rem;
  color: white;
  display: block;
  background: black;
  margin-bottom: 3%;
  font-family: titillium, monospace, "Times New Roman";
}
.headers {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 2rem;
  font-family: titillium, monospace, "Times New Roman";
}
.navbar {
  background-color: rgb(54, 54, 54);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar a {
  float: left;
  color: rgb(1, 185, 185);
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}
.navbar a:hover {
  opacity: 0.6;
  color: rgb(245, 75, 45);
}
.navbar a.active {
  animation: shade 2s infinite;
  color: rgb(1, 185, 185);
}
@keyframes shade {
  0% {
    background-color: rgb(67, 249, 255);
  }
  20% {
    background-color: rgb(54, 54, 54);
  }
  40% {
    background-color: rgb(67, 249, 255);
  }
  60% {
    background-color: rgb(54, 54, 54);
  }
  80% {
    background-color: rgb(67, 249, 255);
  }
  100% {
    background-color: rgb(54, 54, 54);
  }
  80% {
    background-color: rgb(67, 249, 255);
  }
  60% {
    background-color: rgb(54, 54, 54);
  }
  20% {
    background-color: rgb(67, 249, 255);
  }
  0% {
    background-color: rgb(54, 54, 54);
  }
}
